<ion-view drag-content="false" scroll="true" title="{{sezoni_text}}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-more" ng-click="popover.show($event)"></button>
  </ion-nav-buttons>


<ion-content class="has-header">
  <div id="match" class="tabs-striped tabs-top tabs-background-dark tabs-color-assertive">
    <div class="tabs" id="grupet">
      <a class="tab-item" ng-class="{active: 0 == selected}" ng-click="selectedTab(1)">Gr. A</a>
      <a class="tab-item" ng-class="{active: 1 == selected}" ng-click="selectedTab(2)">Gr. B</a>
      <a class="tab-item" ng-class="{active: 2 == selected}" ng-click="selectedTab(3)">Gr. C</a>
      <a class="tab-item" ng-class="{active: 3 == selected}" ng-click="selectedTab(4)">Gr. D</a>
      <a class="tab-item" ng-class="{active: 4 == selected}" ng-click="selectedTab(5)">Gr. E</a>
      <a class="tab-item" ng-class="{active: 5 == selected}" ng-click="selectedTab(6)">Gr. F</a>
    </div>
  </div>
  <ion-slide-box id="grupet" show-pager="false" class="has-header" on-slide-changed="selectedTab($index+1)">
    <ion-slide ng-repeat="nr in SezoneList">
       <div class="bg-transparent gr-scroll">
         <div class="item item-divider pad5">
           <div class="row">
             <div class="col col-15 col-center">N°</div>
             <div class="col col-33">Ekipi</div>
             <div class="col col-center">Pike</div>
             <div class="col col-center">Nd</div>
             <div class="col col-center">Glv</div>
           </div>
         </div>
         <div id="grupet" class="item item-text-wrap bg-transparent pad5">
           <div class="row {{item.name}} ranking" ng-repeat="item in items">
             <div class="col col-center"><span class="rank rank-{{$index + 1}}">{{$index + 1}}</span></div>
             <div class="col col-33">{{item.name}}</div>
             <div class="col col-center"><b>{{item.pike}}</b></div>
             <div class="col col-center">{{item.ndeshje}}</div>
             <div class="col col-center">{{item.golash - item.golap}}</div>
           </div>
         </div>
         <div class="card">
           <div class="row item" ng-repeat="item in itemsN">
             <div ui-sref="app.ndeshja({ndeshjaId: '{{item.id}}'})" class="col col-center {{item.team1}}"><img class="rank" ng-src="{{item.flag1}}">{{item.team1}}</div>
             <div ui-sref="app.ndeshja({ndeshjaId: '{{item.id}}'})" class="col col-20 col-center1"><a ng-if="item.over>0" class="rez assertive" href="#app/ndeshja/{{item.id}}">{{item.gol1_over}} - {{item.gol2_over}} </a><a class="rez over{{item.over}}" href="#app/ndeshja/{{item.id}}">{{item.gol1}} - {{item.gol2}}</a></div>
             <div ui-sref="app.ndeshja({ndeshjaId: '{{item.id}}'})" class="col col-right col-center {{item.team2}}">{{item.team2}} <img class="rank" ng-src="{{item.flag2}}"></div>
           </div>
         </div>
       </div>
    </ion-slide>
  </ion-slide-box>
</ionic-content>


<!--
<ion-tabs id="grupet" class="tabs-striped has-header tabs-top scroll-x tabs-background-dark tabs-color-light">

<ion-tab class="bg-transparent"  on-select="selectedTab(1)" ng-click="selectedTab(1)" title="Gr. A">
	<ion-content scroll="true" class="has-subheader">
		<div class="bg-transparent gr-scroll">
			<div class="item item-divider pad5">
				<div class="row">
					<div class="col col-15 col-center">N°</div>
					<div class="col col-33">Ekipi</div>
					<div class="col col-center">Pike</div>
					<div class="col col-center">Nd</div>
					<div class="col col-center">Glv</div>
				</div>
			</div>
			<div id="grupet" class="item item-text-wrap bg-transparent pad5">
				<div class="row {{item.name}} ranking" ng-repeat="item in items">
					<div class="col col-center"><span class="rank rank-{{$index + 1}}">{{$index + 1}}</span></div>
					<div class="col col-33">{{item.name}}</div>
					<div class="col col-center"><b>{{item.pike}}</b></div>
					<div class="col col-center">{{item.ndeshje}}</div>
					<div class="col col-center">{{item.golash - item.golap}}</div>
				</div>
			</div>
			<div class="card">
				<div class="row item" ng-repeat="item in itemsN">
					<div ui-sref="app.ndeshja({ndeshjaId: '{{item.id}}'})" class="col col-center {{item.team1}}"><img class="rank" ng-src="{{item.flag1}}">{{item.team1}}</div>
					<div ui-sref="app.ndeshja({ndeshjaId: '{{item.id}}'})" class="col col-20 col-center1"><a ng-if="item.over>0" class="rez assertive" href="#app/ndeshja/{{item.id}}">{{item.gol1_over}} - {{item.gol2_over}} </a><a class="rez over{{item.over}}" href="#app/ndeshja/{{item.id}}">{{item.gol1}} - {{item.gol2}}</a></div>
					<div ui-sref="app.ndeshja({ndeshjaId: '{{item.id}}'})" class="col col-right col-center {{item.team2}}">{{item.team2}} <img class="rank" ng-src="{{item.flag2}}"></div>
				</div>
			</div>
			<div style="height:100px;"></div>
		</div>
	</ion-content>
 </ion-tab>

 <ion-tab class="bg-transparent"  on-select="selectedTab(2)" title="Gr. B">
	<ion-content scroll="true" class="has-subheader">
		<div class="bg-transparent gr-scroll">
			<div class="item item-divider pad5">
				<div class="row">
					<div class="col col-15 col-center">N°</div>
					<div class="col col-33">Ekipi</div>
					<div class="col col-center">Pike</div>
					<div class="col col-center">Nd</div>
					<div class="col col-center">Glv</div>
				</div>
			</div>
			<div id="grupet" class="item item-text-wrap bg-transparent pad5">
				<div class="row {{item.name}} ranking" ng-repeat="item in items">
					<div class="col col-center"><span class="rank rank-{{$index + 1}}">{{$index + 1}}</span></div>
					<div class="col col-33">{{item.name}}</div>
					<div class="col col-center"><b>{{item.pike}}</b></div>
					<div class="col col-center">{{item.ndeshje}}</div>
					<div class="col col-center">{{item.golash - item.golap}}</div>
				</div>
			</div>
			<div class="card">
				<div class="row item" ng-repeat="item in itemsN">
					<div ui-sref="app.ndeshja({ndeshjaId: '{{item.id}}'})" class="col {{item.team1}}"><img class="rank" ng-src="{{item.flag1}}">{{item.team1}}</div>
					<div ui-sref="app.ndeshja({ndeshjaId: '{{item.id}}'})" class="col col-20 col-center1"><a ng-if="item.over>0" class="rez assertive" href="#app/ndeshja/{{item.id}}">{{item.gol1_over}} - {{item.gol2_over}} </a><a class="rez over{{item.over}}" href="#app/ndeshja/{{item.id}}">{{item.gol1}} - {{item.gol2}}</a></div>
					<div ui-sref="app.ndeshja({ndeshjaId: '{{item.id}}'})" class="col col-right {{item.team2}}">{{item.team2}} <img class="rank" ng-src="{{item.flag2}}"></div>
				</div>
			</div>
			<div style="height:100px;"></div>
		</div>
	</ion-content>
 </ion-tab>

 <ion-tab class="bg-transparent"  on-select="selectedTab(3)" title="Gr. C">
	<ion-content scroll="true" class="has-subheader">
		<div class="bg-transparent gr-scroll">
			<div class="item item-divider pad5">
				<div class="row">
					<div class="col col-15 col-center">N°</div>
					<div class="col col-33">Ekipi</div>
					<div class="col col-center">Pike</div>
					<div class="col col-center">Nd</div>
					<div class="col col-center">Glv</div>
				</div>
			</div>
			<div id="grupet" class="item item-text-wrap bg-transparent pad5">
				<div class="row {{item.name}} ranking" ng-repeat="item in items">
					<div class="col col-center"><span class="rank rank-{{$index + 1}}">{{$index + 1}}</span></div>
					<div class="col col-33">{{item.name}}</div>
					<div class="col col-center"><b>{{item.pike}}</b></div>
					<div class="col col-center">{{item.ndeshje}}</div>
					<div class="col col-center">{{item.golash - item.golap}}</div>
				</div>
			</div>
			<div class="card">
				<div class="row item" ng-repeat="item in itemsN">
					<div ui-sref="app.ndeshja({ndeshjaId: '{{item.id}}'})" class="col {{item.team1}}"><img class="rank" ng-src="{{item.flag1}}">{{item.team1}}</div>
					<div ui-sref="app.ndeshja({ndeshjaId: '{{item.id}}'})" class="col col-20 col-center1"><a ng-if="item.over>0" class="rez assertive" href="#app/ndeshja/{{item.id}}">{{item.gol1_over}} - {{item.gol2_over}} </a><a class="rez over{{item.over}}" href="#app/ndeshja/{{item.id}}">{{item.gol1}} - {{item.gol2}}</a></div>
					<div ui-sref="app.ndeshja({ndeshjaId: '{{item.id}}'})" class="col col-right {{item.team2}}">{{item.team2}} <img class="rank" ng-src="{{item.flag2}}"></div>
				</div>
			</div>
			<div style="height:100px;"></div>
		</div>
	</ion-content>
 </ion-tab>

 <ion-tab class="bg-transparent"  on-select="selectedTab(4)" title="Gr. D">
	<ion-content scroll="true" class="has-subheader">
		<div class="bg-transparent gr-scroll">
			<div class="item item-divider pad5">
				<div class="row">
					<div class="col col-15 col-center">N°</div>
					<div class="col col-33">Ekipi</div>
					<div class="col col-center">Pike</div>
					<div class="col col-center">Nd</div>
					<div class="col col-center">Glv</div>
				</div>
			</div>
			<div id="grupet" class="item item-text-wrap bg-transparent pad5">
				<div class="row {{item.name}} ranking" ng-repeat="item in items">
					<div class="col col-center"><span class="rank rank-{{$index + 1}}">{{$index + 1}}</span></div>
					<div class="col col-33">{{item.name}}</div>
					<div class="col col-center"><b>{{item.pike}}</b></div>
					<div class="col col-center">{{item.ndeshje}}</div>
					<div class="col col-center">{{item.golash - item.golap}}</div>
				</div>
			</div>
			<div class="card">
				<div class="row item" ng-repeat="item in itemsN">
					<div ui-sref="app.ndeshja({ndeshjaId: '{{item.id}}'})" class="col {{item.team1}}"><img class="rank" ng-src="{{item.flag1}}">{{item.team1}}</div>
					<div ui-sref="app.ndeshja({ndeshjaId: '{{item.id}}'})" class="col col-20 col-center1"><a ng-if="item.over>0" class="rez assertive" href="#app/ndeshja/{{item.id}}">{{item.gol1_over}} - {{item.gol2_over}} </a><a class="rez over{{item.over}}" href="#app/ndeshja/{{item.id}}">{{item.gol1}} - {{item.gol2}}</a></div>
					<div ui-sref="app.ndeshja({ndeshjaId: '{{item.id}}'})" class="col col-right {{item.team2}}">{{item.team2}} <img class="rank" ng-src="{{item.flag2}}"></div>
				</div>
			</div>
			<div style="height:100px;"></div>
		</div>
	</ion-content>
 </ion-tab>

 <ion-tab class="bg-transparent"  on-select="selectedTab(5)" title="Gr. E">
	<ion-content scroll="true" class="has-subheader">
		<div class="bg-transparent gr-scroll">
			<div class="item item-divider pad5">
				<div class="row">
					<div class="col col-15 col-center">N°</div>
					<div class="col col-33">Ekipi</div>
					<div class="col col-center">Pike</div>
					<div class="col col-center">Nd</div>
					<div class="col col-center">Glv</div>
				</div>
			</div>
			<div id="grupet" class="item item-text-wrap bg-transparent pad5">
				<div class="row {{item.name}} ranking" ng-repeat="item in items">
					<div class="col col-center"><span class="rank rank-{{$index + 1}}">{{$index + 1}}</span></div>
					<div class="col col-33">{{item.name}}</div>
					<div class="col col-center"><b>{{item.pike}}</b></div>
					<div class="col col-center">{{item.ndeshje}}</div>
					<div class="col col-center">{{item.golash - item.golap}}</div>
				</div>
			</div>
			<div class="card">
				<div class="row item" ng-repeat="item in itemsN">
					<div ui-sref="app.ndeshja({ndeshjaId: '{{item.id}}'})" class="col {{item.team1}}"><img class="rank" ng-src="{{item.flag1}}">{{item.team1}}</div>
					<div ui-sref="app.ndeshja({ndeshjaId: '{{item.id}}'})" class="col col-20 col-center1"><a ng-if="item.over>0" class="rez assertive" href="#app/ndeshja/{{item.id}}">{{item.gol1_over}} - {{item.gol2_over}} </a><a class="rez over{{item.over}}" href="#app/ndeshja/{{item.id}}">{{item.gol1}} - {{item.gol2}}</a></div>
					<div ui-sref="app.ndeshja({ndeshjaId: '{{item.id}}'})" class="col col-right {{item.team2}}">{{item.team2}} <img class="rank" ng-src="{{item.flag2}}"></div>
				</div>
			</div>
			<div style="height:100px;"></div>
		</div>
	</ion-content>
 </ion-tab>

 <ion-tab class="bg-transparent"  on-select="selectedTab(6)" title="Gr. F">
	<ion-content scroll="true" class="has-subheader">
		<div class="bg-transparent gr-scroll">
			<div class="item item-divider pad5">
				<div class="row">
					<div class="col col-15 col-center">N°</div>
					<div class="col col-33">Ekipi</div>
					<div class="col col-center">Pike</div>
					<div class="col col-center">Nd</div>
					<div class="col col-center">Glv</div>
				</div>
			</div>
			<div id="grupet" class="item item-text-wrap bg-transparent pad5">
				<div class="row {{item.name}} ranking" ng-repeat="item in items">
					<div class="col col-center"><span class="rank rank-{{$index + 1}}">{{$index + 1}}</span></div>
					<div class="col col-33">{{item.name}}</div>
					<div class="col col-center"><b>{{item.pike}}</b></div>
					<div class="col col-center">{{item.ndeshje}}</div>
					<div class="col col-center">{{item.golash - item.golap}}</div>
				</div>
			</div>
			<div class="card">
				<div class="row item" ng-repeat="item in itemsN">
					<div ui-sref="app.ndeshja({ndeshjaId: '{{item.id}}'})" class="col {{item.team1}}"><img class="rank" ng-src="{{item.flag1}}">{{item.team1}}</div>
					<div ui-sref="app.ndeshja({ndeshjaId: '{{item.id}}'})" class="col col-20 col-center1"><a ng-if="item.over>0" class="rez assertive" href="#app/ndeshja/{{item.id}}">{{item.gol1_over}} - {{item.gol2_over}} </a><a class="rez over{{item.over}}" href="#app/ndeshja/{{item.id}}">{{item.gol1}} - {{item.gol2}}</a></div>
					<div ui-sref="app.ndeshja({ndeshjaId: '{{item.id}}'})" class="col col-right {{item.team2}}">{{item.team2}} <img class="rank" ng-src="{{item.flag2}}"></div>
				</div>
			</div>
			<div style="height:100px;"></div>
		</div>
	</ion-content>
 </ion-tab>
</ion-tabs>
-->

</ion-view>

<script id="popover1-template.html" type="text/ng-template">
   <style>
   .popover {
      height: auto !important;
    }
   </style>
   <ion-popover-view>
      <ion-content>
         <ion-radio ng-repeat="item in SezoneList" ng-value="item.value" ng-model="gr_id" ng-change="changeSezoni(item)" ng-click="changeSezoni(item)">{{ item.text }}</ion-radio>
      </ion-content>
   </ion-popover-view>
</script>
