<ion-view title="Klasifikimi">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
<div class="bar bar-subheader">
  <h2 class="title">Superliga 2013-14</h2>
</div>

<ion-content class="has-subheader">
<div id="sfondi">

 <div class="item item-divider klasifikimi-header">
  <div class="row">
    <div class="col col-15 col-center">N°</div>
    <div class="col col-33">Ekipi</div>
    <div class="col col-center">Pike</div>
    <div class="col col-center">Nd</div>
    <div class="col col-center">Glv</div>
  </div>
 </div>
 <div class="item item-text-wrap">
  <div class="row {{item.name}} rnk">
    <div class="col col-15 col-center"><span class="rank rank-{{item.rank}}">{{item.rank}}</span></div>
    <div class="col col-33">{{item.name}}</div>
    <div class="col col-center"><b>{{item.pike}}</b></div>
    <div class="col col-center">{{item.ndeshje}}</div>
    <div class="col col-center">{{item.golash - item.golap}}</div>
  </div>
 </div>
</div>
</ion-content>
</ion-view>
