<ion-view title="{{lajmi.title}}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" ng-click="showAds()" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
  <img class="full-image lajmi-img" src="http://www.albaniasoccer.com/{{lajmi.image}}">
  <div class="item item-body">

    <h2 class="lajmi-titulli assertive">{{lajmi.title}}</h2>
    <p data-ng-bind-html="lajmi.content"></p>
  </div>
  <div class="item tabs tabs-secondary statistika tabs-icon-left item-dark">
    <a class="tab-item tab-color-light">
      <i class="icon ion-ios-calendar-outline"></i>
      {{lajmi.data | lajmeData}}
    </a>
    <a class="tab-item" ng-click="shareL('Lexo lajmin', '{{lajmi.title}}', 'http://www.albaniasoccer.com/{{lajmi.image}}', 'http://www.albaniasoccer.com/{{lajmi.link}}')">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>
  </ion-content>
</ion-view>
