    <div class="row item item-divider bar bar-dark statistika">
        <h1 class="title">Lajme nga kombetarja</h1>
    </div>
    <div id="lajme-index" class="row pad0">
		<div ui-sref="app.lajmi({lajmiId: '1'})" class="col-50 bg-image" style="background-image : url('http://www.albaniasoccer.com/{{lajme[0].image}}')">
			<div id="title" class="padding title">{{lajme[0].title}}</div>
		</div>
		<div ui-sref="app.lajmi({lajmiId: '2'})" class="col-50 bg-image" style="background-image : url('http://www.albaniasoccer.com/{{lajme[1].image}}')">
			<div id="title" class="padding title">{{lajme[1].title}}</div>
		</div>
	</div>
	<div id="lajme-index" class="row pad0">
		<div ui-sref="app.lajmi({lajmiId: '3'})" class="col-50 bg-image" style="background-image : url('http://www.albaniasoccer.com/{{lajme[2].image}}')">
			<div id="title" class="padding title">{{lajme[2].title}}</div>
		</div>
		<div ui-sref="app.lajmi({lajmiId: '4'})" class="col-50 bg-image" style="background-image : url('http://www.albaniasoccer.com/{{lajme[3].image}}')">
			<div id="title" class="padding title">{{lajme[3].title}}</div>
		</div>
	</div>
