<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-assertive nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Pas</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left" id="menu" class="bg-transparent sfondim">
    <ion-content>
      <ion-list class="sidebar list-no-border">
	    <div class="side-menu-logo">
           <a class="logo logo-m" menu-close href="#/app/index"><img class="logo-fshf" src="img/inside-logo.png"><br>Albania</a>
        </div>
        <ion-item nav-clear menu-close href="#/app/index">
          <h2><i class="icon ion-home"></i> Fillimi</h2>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/lajmet">
          <h2><i class="ion-document-text"></i> Lajmet</h2>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/ekipi">
          <h2><i class="ion-tshirt"></i> Ekipi</h2>
        </ion-item>
        <ion-item ng-hide="menu" nav-clear menu-close href="#/app/gr/1">
          <h2><i class="ion-arrow-graph-up-right"></i> Grupi A</h2>
        </ion-item>
        <ion-item ng-hide="menu" nav-clear menu-close href="#/app/gr/2">
          <h2><i class="ion-arrow-graph-up-right"></i> Grupi B</h2>
        </ion-item>
        <ion-item ng-hide="menu" nav-clear menu-close href="#/app/gr/3">
          <h2><i class="ion-arrow-graph-up-right"></i> Grupi C</h2>
        </ion-item>
        <ion-item ng-hide="menu" nav-clear menu-close href="#/app/gr/4">
          <h2><i class="ion-arrow-graph-up-right"></i> Grupi D</h2>
        </ion-item>
        <ion-item ng-hide="menu" nav-clear menu-close href="#/app/gr/5">
          <h2><i class="ion-arrow-graph-up-right"></i> Grupi E</h2>
        </ion-item>
        <ion-item ng-hide="menu" nav-clear menu-close href="#/app/gr/6">
          <h2><i class="ion-arrow-graph-up-right"></i> Grupi F</h2>
        </ion-item>
		    <ion-item ng-hide="menu" nav-clear menu-close href="#/app/finalet">
          <h2><i class="ion-arrow-graph-up-right"></i> Faza Finale</h2>
        </ion-item>
        <ion-item ng-show="menu" nav-clear menu-close href="#/app/grupet">
          <h2><i class="ion-arrow-graph-up-right"></i> Grupet</h2>
        </ion-item>
        <ion-item ng-show="menu" nav-clear menu-close href="#/app/ndeshjet/4">
          <h2><i class="ion-arrow-graph-up-right"></i> 1/8</h2>
        </ion-item>
        <ion-item ng-show="menu" nav-clear menu-close href="#/app/ndeshjet/5">
          <h2><i class="ion-arrow-graph-up-right"></i> &Ccedil;erekfinalet</h2>
        </ion-item>
        <ion-item ng-show="menu" nav-clear menu-close href="#/app/ndeshjet/6">
          <h2><i class="ion-arrow-graph-up-right"></i> Gjys&euml;mfinalet</h2>
        </ion-item>
        <ion-item ng-show="menu" nav-clear menu-close href="#/app/ndeshjet/7">
          <h2><i class="ion-arrow-graph-up-right"></i> Finalja</h2>
        </ion-item>

		<ion-item nav-clear menu-close href="#/app/settings">
          <h2><i class="ion-gear-a"></i> Opsionet</h2>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/credits">
          <h2><i class="ion-ios-heart"></i> Credits</h2>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
