<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-assertive nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Pas</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left" id="menu" class="bg-transparent sfondim">
    <ion-content>
      <ion-list class="sidebar list-no-border">
	    <div class="side-menu-logo">
           <a class="logo logo-m" menu-close href="#/app/index"><img class="logo-fshf" src="img/inside-logo.png"><br>Albania Soccer</a>
        </div>
        <ion-item nav-clear menu-close href="#/app/index">
          <h2><i class="icon ion-home"></i> Fillimi</h2>
        </ion-item>
		<ion-item nav-clear class="item-divider">
          Komb&euml;tarja
        </ion-item>
		<ion-item nav-clear menu-close href="#/app/lajmet/kombetarja">
          <h2><i class="ion-document-text"></i> Lajmet</h2>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/ekipi/kombetarja">
          <h2><i class="ion-tshirt"></i> Ekipi</h2>
        </ion-item>
		<ion-item nav-clear menu-close href="#/app/ndeshjet/kombetarja">
          <h2><i class="ion-arrow-graph-up-right"></i> Ndeshjet</h2>
        </ion-item>
		<ion-item nav-clear menu-close href="#/app/klasifikimi/4/kombetarja">
          <h2><i class="ion-calendar"></i> Klasifikimi</h2>
        </ion-item>
		<ion-item nav-clear class="item-divider">
          Superliga
        </ion-item>
		<ion-item nav-clear menu-close href="#/app/lajmet/superliga">
          <h2><i class="ion-document-text"></i> Lajmet</h2>
        </ion-item>
		<ion-item nav-clear menu-close href="#/app/ndeshjet/superliga">
          <h2><i class="ion-arrow-graph-up-right"></i> Ndeshjet</h2>
        </ion-item>
		<ion-item nav-clear menu-close href="#/app/klasifikimi/1/superliga">
          <h2><i class="ion-calendar"></i> Klasifikimi</h2>
        </ion-item>
		<ion-item nav-clear class="item-divider">
          Kupa e Shqip&euml;ris&euml;
        </ion-item>
		<ion-item nav-clear menu-close href="#/app/lajmet/kupa">
          <h2><i class="ion-document-text"></i> Lajmet</h2>
        </ion-item>
		<ion-item nav-clear menu-close href="#/app/ndeshjet/kupa">
          <h2><i class="ion-arrow-graph-up-right"></i> Ndeshjet</h2>
        </ion-item>
		<ion-item nav-clear class="item-divider">
          Kategoria 1
        </ion-item>
		<ion-item nav-clear menu-close href="#/app/lajmet/kategoria1">
          <h2><i class="ion-document-text"></i> Lajmet</h2>
        </ion-item>
		<ion-item nav-clear menu-close href="#/app/ndeshjet/kategoria1">
          <h2><i class="ion-arrow-graph-up-right"></i> Ndeshjet</h2>
        </ion-item>
		<ion-item nav-clear menu-close href="#/app/klasifikimi/3/kategoria1">
          <h2><i class="ion-calendar"></i> Klasifikimi</h2>
        </ion-item>
		<ion-item nav-clear class="item-divider">
          Kosova
        </ion-item>
		<ion-item nav-clear menu-close href="#/app/lajmet/kosova">
          <h2><i class="ion-document-text"></i> Lajmet</h2>
        </ion-item>
		<ion-item nav-clear menu-close href="#/app/ndeshjet/kosova">
          <h2><i class="ion-arrow-graph-up-right"></i> Ndeshjet</h2>
        </ion-item>
		<ion-item nav-clear menu-close href="#/app/klasifikimi/5/kosova">
          <h2><i class="ion-calendar"></i> Klasifikimi</h2>
        </ion-item>
        
		<ion-item nav-clear menu-close href="#/app/settings">
          <h2><i class="ion-gear-a"></i> Opsionet</h2>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/credits">
          <h2><i class="ion-ios-heart"></i> Credits</h2>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
