<ion-view on-swipe-right="slidePrevious()" on-swipe-left="slideNext()" cache-view="false" title="{{item.java}}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button ng-class="anim" class="button button-icon icon" ng-click="subNotification()"></button>
    <button class="button button-icon icon ion-ios-refresh-empty" ng-click="doRefresh()"></button>
  </ion-nav-buttons>
<ion-content class="has-header">
 <ion-refresher pulling-text="Pull to refresh..." class="spinner-assertive" on-refresh="doRefresh()">
 </ion-refresher>
 <div class="item item-text-wrap pad0 bg-transparent">
  <div class="row bg-white">
    <div class="col col-center1"><span>{{item.orari | indexData}}<br>{{item.stadiumi.emri}}</span></div>
  </div>
  <div class="row row-top bg-white">
    <div class="col col-center1 Vllaznia"><img class="match-logo" ng-src="{{item.flag1_l}}"><br>{{item.team1}}</div>
    <div class="col col-25 col-center col-center1">
        <div ng-if="item.over==0"><a class="rezultati">{{item.gol1}} - {{item.gol2}}</a><a ng-if="item.ot_gol1" class="rez live{{item.live.live}}"><br>Shtes&euml;: <br>{{item.ot_gol1}} - {{item.ot_gol2}}</a><a ng-if="item.so_gol1" class="rez live{{item.live.live}}"><br>Pen: <br>{{item.so_gol1}} - {{item.so_gol2}}</a></div>
        <div ng-if="item.over>0" class="assertive"><a class="rezultati assertive">{{item.gol1_over}} - {{item.gol2_over}}</a></div>
        <div class="live">
            <div class="timer">
                <div easypiechart options="options" percent="percent"></div>
                <span class="percent">{{item.minuta}}</span>
            </div>
        </div>
    </div>
    <div class="col col-center1 Vllaznia"><img class="match-logo" ng-src="{{item.flag2_l}}"><br>{{item.team2}}</div>
  </div>
  <div ng-if="item.over>0" class="assertive col col-center1 bg-white">{{item.over_text}}</div>
  <div id="match" class="tabs-striped tabs-top tabs-icon-left tabs-background-dark tabs-color-assertive">
    <div class="tabs">
      <a class="tab-item" ng-class="{active: 0 == selected}" ng-click="slideTo(0)"><i class="icon ion-clock"></i>Eventet</a>
      <a class="tab-item" ng-class="{active: 1 == selected}" ng-click="slideTo(1)"><i class="icon ion-tshirt"></i>Formacionet</a>
      <a class="tab-item" ng-class="{active: 2 == selected}" ng-click="slideTo(2)"><i class="icon ion-chatbubble"></i>Komentet</a>
    </div>
  </div>
  <ion-slide-box id="match" show-pager="false" class="has-header" on-slide-changed="slideTo($index)">
    <ion-slide>
     <div class="item bg-transparent">
       <div id="ev0"></div>
       <div class="row" id="minuta" ng-repeat="eventet in item.eventi">
           <div class="col">
              <div ng-if="eventet.ekipi==item.team1" class="eventi"><span class="icon {{eventet.tipo_evento}}">{{eventet.emri}}</span>
                 <p ng-if="eventet.tipo_evento=='Zevendesim' && eventet.ekipi==item.team1" id="font" class="zv-left {{eventet.tipo_evento}}">{{eventet.in}}<br>{{eventet.out}}</p>
              </div>
           </div>
           <div class="col col-20 col-center1 col-center" id="minuta"><span class="minuta">{{eventet.minuta}}'</span></div>
           <div class="col col-right">
              <div ng-if="eventet.ekipi==item.team2" class="eventi">{{eventet.emri}}<span class="icon {{eventet.tipo_evento}}"></span>
                 <p ng-if="eventet.tipo_evento=='Zevendesim' && eventet.ekipi==item.team2" id="font" class="zv-right {{eventet.tipo_evento}}">{{eventet.in}}<br>{{eventet.out}}</p>
              </div>
           </div>
       </div>
     </div>
    </ion-slide>

    <ion-slide>
       <div class="item item-divider item-assertive col-center1">Lojtaret</div>
       <div class="row">
           <div class="col col-50 col-right">
              <div ng-repeat="lojtaret in item.formacionet | orderObjectBy:'item.formacionet.pozicioni':reverse" ng-if="lojtaret.ekipi==item.team1" class="list">
                 <p class="eventi" id="font"><b>{{lojtaret.lojtari}}</b><br><span class="font10">{{lojtaret.pozicioni}}</span></p>
              </div>
           </div>
           <div class="col col-50">
              <div ng-repeat="lojtaret in item.formacionet | orderObjectBy:'lojtaret.pozicioni':reverse" ng-if="lojtaret.ekipi==item.team2" class="list">
                 <p class="eventi" id="font"><b>{{lojtaret.lojtari}}</b><br><span class="font10">{{lojtaret.pozicioni}}</span></p>
              </div>
           </div>
       </div>
       <div class="item item-divider item-assertive col-center1">Stafi</div>
       <div class="row">
           <div class="col col-50 col-right">
              <div ng-repeat="stafi in item.stafet" ng-if="stafi.ekipi==item.team1" class="list">
                 <p class="eventi" id="font"><b>{{stafi.emri}}</b><br><span class="font10">{{stafi.pozicioni}}</span></p>
              </div>
           </div>
           <div class="col col-50">
              <div ng-repeat="stafi in item.stafet" ng-if="stafi.ekipi==item.team2" class="list">
                 <p class="eventi" id="font"><b>{{stafi.emri}}</b><br><span class="font10">{{stafi.pozicioni}}</span></p>
              </div>
           </div>
       </div>
    </ion-slide>

    <ion-slide>
       <div class="row">
           <div class="col"><p class="kronika" data-ng-bind-html="content"></p></div>
       </div>
    </ion-slide>
  </ion-slide-box>
 </div>

</ion-content>
</ion-view>
